@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Pacifico&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=LXGW+WenKai+Mono+TC&family=Pacifico&display=swap');


*{
    padding: 0;
    margin: 0;
}

/* .navabout .navbar-brand{
    font-family: Pacifico;
    font-size: 2.5rem;
    color: green;
}
.btn{
    border: solid black 1px;
}
.btn:hover{
    color: white;
    background-color: black;
}

.about .navbar{
    background-color: rgba(1, 72, 1, 0.536);
} */

.aboutus{
    background-color:white;
}
.aboutus .nav-logo .icon-1{
    font-family: Pacifico;
    font-size: 2.5rem;
    color: green;

}
.main-a{
    /* padding: 10rem; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus .left-a{
    height: 648px;
    width: 432px;
    background-image: url(imges/wild.png);
    background-size: contain;
    font-size: 40px;
}
.left-a .nav-logo{
    padding-top: 4rem;
}

.right-a{
    padding: 0 3rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    
    
}
.right-a span{
    font-family: Pacifico;
    padding: 0 3rem;
}
.right-a h1{
    font-family: Playfair Display;
    font-size: 60px;
    color: rgb(0, 123, 255);
}
.right-a p{
    font-family: LXGW WenKai Mono TC;
    font-weight: 800;
    padding: 1rem 3rem;
    opacity: .9;    
}