@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Pacifico&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=LXGW+WenKai+Mono+TC&family=Pacifico&display=swap');


*{
    padding: 0;
    margin: 0;
}

.review{
    background-color: rgba(0, 0, 0, 0.556);
    color: white;
    position: relative;
    z-index: 4;
}
.bg-r{
    height: 100vh;
    width: 100vw;
    /* background-image: url(imges/tree-house.jpg); */
    background-size: cover;
    position: sticky;
    top: 50px;
    z-index: 0;
}

.icons-r{
    color: gold;
}
.head-r{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* left: ; */
    bottom: 200px;
    
}
.head-r span{
    font-family: Pacifico;
}
.head-r h1{
    font-size: 100px;
    font-family: Playfair Display;
}
.items-r div{
    background-color: rgba(0, 0, 0, 0.442);
    padding: 1rem;
}
.items-r .item1{
    width: 400px;
    position: relative;
    top: 50px;
    left: 100px;    
}
.items-r .item2{
    background-color: rgba(255, 255, 255, 0.36);
    width: 700px;
    position: relative;
    bottom: 50px;
    left: 700px;    
}
.items-r .item3{
    width: 400px;
    position: relative;
    top: 75px;
    left: 800px; 
}
.items-r .item4{
    background-color: rgba(255, 255, 255, 0.36);
    width: 700px;
    position: relative;
    bottom: 300px;
    left: 20px;    
}
.para-r span{
    font-family: Pacifico;
    font-size: 20px;
}
