



*{
    margin: 0;
    padding: 0;
}
.information{
    border: solid black 3px;
}
.imges-td .img-td{
    height: 800px;
    width: 1000px;
}

/* .imges-td .img-td1{
    animation: animation_td1 5s infinite;
}
@keyframes animation_td1{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    10%{
        transform: translatex(0px);
        opacity: 1;
    }
    20%{
        transform: translatex(-100px);
        opacity: 0;
    }
} */
/* .img-td .img-td2{
    animation: animation_td2 5s infinite;
}

@keyframes animation_td2{
    20%{
        transform: translate(100px);
        opacity: 0;
    }
    30%{
        transform: translatex(0);
        opacity: 1;
    }
    40%{
        transform: translatex(-100px);
        opacity: 0;
    } 
}*/