{% extends 'navigation.html' %}
{% block contant %}
{% load static %}

<link rel="stylesheet" href="static/css/ratestyle.css">



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="review">

        <div class="bg-r" style="background-image: url(static/images/tree-house.jpg);">
            <!-- <img src="imges/tree-house.jpg" alt=""> -->
        </div>
       
        <div class="items-r">
            <div class="head-r">
                <span>our customers love us</span>
                <h1>Latest Reviews</h1>
            </div>
            <div class="item1 col-md-3">
                <div class="icons-r">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                </div>
                <div class="para-r">
                    "Wildguide took us on an unforgettable journey through the Amazon rainforest! Their expertise and passion for nature made the experience truly special. Highly recommend!" <br><br><span>- Rachel, USA</span>
                </div>
            </div>
            
            <div class="item2 col-md-3">
                <div class="icons-r">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                </div>
                <div class="para-r">
                    "Their guides were knowledgeable, friendly, and went above and beyond to make our hike to Machu Picchu an adventure of a lifetime. Thank you, Wildguide!"<br><br><span>- Mark, Canada</span>

                </div>
            </div>
            <div class="item3 col-md-3">
                <div class="icons-r">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                </div>
                <div class="para-r">
                    "Wildguide's attention to detail and commitment to sustainability impressed us. Their tours are not only fun but also responsible. We'll travel with them again!"<br><br><span> - Emma, UK</span>

                </div>
            </div>
            <div class="item4 col-md-3">
                <div class="icons-r">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                </div>
                <div class="para-r">
                    "We were blown away by the beauty of the Galapagos Islands and the exceptional service provided by Wildguide. Unforgettable experience!" <br><br> <span>- Sophia, Australia</span>

                </div>
            </div>
        </div>        
    </div>
</body>
</html>



{% endblock %}